* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: 1px dotted rgb(255, 8, 8); */
}

body {
    width: 100%;
    height: max-content;
    min-height: 100vh;
    font-family: Montserrat;
}

.container {
    width: 80%;
    margin: 0 auto;
}

a {
    list-style: none;
    text-decoration: none;
}


/* <!-- head language starts --> */

.head-lang {
    width: 100%;
    height: 40px;
    background-color: black;
}

.head_lang {
    height: 100%;
    display: flex;
    align-items: center;
}

.lang1 a {
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 10px;
    line-height: 140%;
    letter-spacing: 1.5px;
    color: white;
}

.lang2 a {
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 10px;
    line-height: 140%;
    letter-spacing: 1.5px;
    color: rgba(255, 255, 255, 0.3);
}


/* <!-- navbar starts --> */

.navbar {
    width: 100%;
    height: 72px;
    background: #FAFAFA;
    box-shadow: 0px 8px 22px -6px rgba(24, 39, 75, 0.12), 0px 14px 64px -4px rgba(24, 39, 75, 0.12);
}

.navbar-cont {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    width: 96px;
    height: 32px;
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 23px;
    line-height: 140%;
}

.nav1-ul {
    display: flex;
    align-items: center;
    list-style: none;
}

.nav1-ul li a {
    margin: 0px 10px;
    text-decoration: none;
    color: black;
}

.nav2 {
    display: flex;
    align-items: center;
}

.nav2-right {
    margin: 0px 15px;
}

.btn-enter {
    width: 75px;
    height: 30px;
    font-family: Montserrat;
    font-size: 16px;
    line-height: 140%;
    color: black;
    background: #EDEDED;
    border-radius: 4px;
    border: none;
}

.btn-enter:hover {
    background: #c5c4c4;
    transition: 0.3s;
}

.btn-register {
    width: 195px;
    height: 30px;
    font-family: Montserrat;
    font-size: 16px;
    line-height: 140%;
    color: #0D0D0D;
    background: #FFC000;
    border-radius: 4px;
    border: none;
}

.btn-register:hover {
    background: #c09000;
    transition: 0.3s;
}

.shopcard {
    width: 20px;
    height: 20px;
    color: rgb(216, 213, 209);
    margin: 0px 25px;
}

.shopcard:hover {
    color: rgb(117, 117, 117);
    transition: 0.3s;
}


/* <!-- Body start --> */

.body-bgc {
    width: 100%;
    height: auto;
    background: #E5E5E5;
}

.head_txt {
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 34px;
    line-height: 140%;
    text-align: center;
    letter-spacing: 0.25px;
    color: #000000;
    padding-top: 64px;
}


/* <!-- card-moduls --> */

.card-moduls {
    margin-top: 24px;
    display: flex;
    flex-direction: column;
}

.card-moduls1 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 30px;
}

.card-moduls3 {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.card-mod {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.card-mod p {
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    line-height: 130%;
    letter-spacing: 0.02em;
    color: #000000;
    margin-top: 26px;
}


/* <!-- footer navbar page */

.bottom-page {
    width: 100%;
    height: 323px;
    background-color: #fff;
    margin-top: 80px;
    display: flex;
}

.bottom-modul {
    display: flex;
    justify-content: space-between;
    margin-top: 46px;
}

.btn-btm {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 140%;
    letter-spacing: 0.75px;
    text-transform: uppercase;
    color: #000000;
    border: none;
    background: none;
}

.btn-btm:hover {
    color: #857d7d;
}

.bottom1 p {
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 160%;
    letter-spacing: 0.25px;
    color: #000000;
    margin-top: 16px;
}

.bottom1 img {
    margin-top: 20px;
}


/* ============ */

.bottom2 button {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 140%;
    letter-spacing: 0.75px;
    text-transform: uppercase;
    color: #000000;
    border: none;
    background: none;
}

.bottom2 button:hover {
    color: #857d7d;
}

.btm2-p {
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 160%;
    letter-spacing: 0.25px;
    color: #000000;
    margin-top: 16px;
}

.btm3-p {
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 160%;
    letter-spacing: 0.25px;
    color: #000000;
    margin-top: 10px;
}

.bottom2 h3 {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 140%;
    letter-spacing: 0.75px;
    text-transform: uppercase;
    color: #000000;
    margin-top: 38px;
}

.bottom3 button {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 140%;
    letter-spacing: 0.75px;
    text-transform: uppercase;
    color: #000000;
    border: none;
    background: none;
}

.bottom3 button:hover {
    color: #747474;
}

.btm-ul {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 6px;
}

.btm-ul li {
    margin-top: 10px;
    list-style: none;
}

.btm-ul li a {
    text-decoration: none;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 160%;
    letter-spacing: 0.25px;
    color: #000000;
}

.bottom4 button {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 140%;
    letter-spacing: 0.75px;
    text-transform: uppercase;
    color: #000000;
    border: none;
    background: none;
}

.bottom4 button:hover {
    color: #575757;
}