            * {
                margin: 0;
                padding: 0;
                box-sizing: border-box;
                /* border: 1px dotted rgb(255, 8, 8); */
            }
            
            body {
                width: 100%;
                height: max-content;
                min-height: 100vh;
                font-family: Montserrat;
            }
            
            .container {
                width: 80%;
                margin: 0 auto;
            }
            
            a {
                list-style: none;
                text-decoration: none;
            }
            /* <!-- head language starts --> */
            
            .head-lang {
                width: 100%;
                height: 40px;
                background-color: black;
            }
            
            .head_lang {
                height: 100%;
                display: flex;
                align-items: center;
            }
            
            .lang1 a {
                font-family: Montserrat;
                font-style: normal;
                font-weight: bold;
                font-size: 10px;
                line-height: 140%;
                letter-spacing: 1.5px;
                color: white;
            }
            
            .lang2 a {
                font-family: Montserrat;
                font-style: normal;
                font-weight: bold;
                font-size: 10px;
                line-height: 140%;
                letter-spacing: 1.5px;
                color: rgba(255, 255, 255, 0.3);
            }
            /* <!-- navbar starts --> */
            
            .navbar {
                width: 100%;
                height: 72px;
                background: #FAFAFA;
                box-shadow: 0px 8px 22px -6px rgba(24, 39, 75, 0.12), 0px 14px 64px -4px rgba(24, 39, 75, 0.12);
            }
            
            .navbar-cont {
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: space-between;
            }
            
            .logo {
                width: 96px;
                height: 32px;
                font-family: Poppins;
                font-style: normal;
                font-weight: bold;
                font-size: 23px;
                line-height: 140%;
            }
            
            .nav1-ul {
                display: flex;
                align-items: center;
                list-style: none;
            }
            
            .nav1-ul li a {
                margin: 0px 10px;
                text-decoration: none;
                color: black;
            }
            
            .nav2 {
                display: flex;
                align-items: center;
            }
            
            .nav2-right {
                margin: 0px 15px;
            }
            
            .btn-enter {
                width: 75px;
                height: 30px;
                font-family: Montserrat;
                font-size: 16px;
                line-height: 140%;
                color: black;
                background: #EDEDED;
                border-radius: 4px;
                border: none;
            }
            
            .btn-enter:hover {
                background: #c5c4c4;
                transition: 0.3s;
            }
            
            .btn-register {
                width: 195px;
                height: 30px;
                font-family: Montserrat;
                font-size: 16px;
                line-height: 140%;
                color: #0D0D0D;
                background: #FFC000;
                border-radius: 4px;
                border: none;
            }
            
            .btn-register:hover {
                background: #c09000;
                transition: 0.3s;
            }
            
            .shopcard {
                width: 20px;
                height: 20px;
                color: rgb(216, 213, 209);
                margin: 0px 25px;
            }
            
            .shopcard:hover {
                color: rgb(117, 117, 117);
                transition: 0.3s;
            }
            /* body start */
            
            .body-bg {
                width: 100%;
                height: auto;
                background-color: #E5E5E5;
            }
            
            .body-main {
                padding-top: 72px;
            }
            /* Xudi cards */
            
            .xudi-card {
                width: 100%;
                height: 295px;
                border-radius: 12px;
                display: flex;
                background: #FFFFFF;
                margin-bottom: 24px;
            }
            
            .xudi-cont {
                padding: 25px;
                width: 100%;
            }
            
            .txt-ixon {
                display: flex;
                align-items: center;
                justify-content: space-between;
            }
            
            .txt-ixon p {
                font-family: Montserrat;
                font-style: normal;
                font-weight: bold;
                font-size: 24px;
                line-height: 140%;
                color: #040921;
            }
            
            .txt-ixon i {
                width: 12px;
                height: 12px;
            }
            
            .rate-icon-s {
                display: flex;
                margin-top: 30px;
            }
            
            .rate-ic-s {
                width: 12px;
                height: 12px;
                margin: 0px 2px;
                color: #FFC000;
            }
            
            .rate-ic-s:hover {
                color: #e2ad00;
            }
            
            .rate-icon-s p {
                font-family: Montserrat;
                font-style: normal;
                font-weight: 500;
                font-size: 14px;
                line-height: 140%;
                letter-spacing: 0.1px;
                margin-left: 10px;
                text-transform: uppercase;
            }
            
            .xud-p {
                font-family: Montserrat;
                font-style: normal;
                font-weight: normal;
                font-size: 14px;
                line-height: 160%;
                letter-spacing: 0.25px;
                color: #000000;
                margin-top: 12px;
            }
            
            .price {
                display: flex;
                justify-content: space-between;
                margin-top: 48px;
            }
            
            .price-left {
                display: flex;
            }
            
            .price-left p {
                font-family: Montserrat;
                font-style: normal;
                font-weight: normal;
                font-size: 16px;
                line-height: 140%;
                letter-spacing: 0.44px;
                color: #0D0D0D;
            }
            
            .price-left h3 {
                font-family: Montserrat;
                font-style: normal;
                font-weight: normal;
                font-size: 16px;
                line-height: 140%;
                letter-spacing: 0.44px;
                color: #000000;
                margin-left: 40px;
            }
            
            .price-left h3 span {
                font-weight: 600;
                margin-left: 10px;
            }
            
            .price-right {
                display: flex;
            }
            
            .btn-minus {
                width: 37px;
                height: 37px;
                font-size: 20px;
                font-weight: 500;
                color: #FFFFFF;
                background: #FFC000;
                border: none;
            }
            
            .btn-minus:hover {
                background: #e2aa03;
                box-shadow: 3px 3px 5px #FFC000;
            }
            
            .price-right p {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 93px;
                height: 37px;
                background: #E5E5E5;
            }
            /* <!-- Похожие товары --> */
            
            .body-third-2 {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                margin-top: 80px;
            }
            
            .bod3-cards {
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: space-between;
                margin-top: 32px;
            }
            
            .cardshop {
                width: 264px;
                height: 522px;
                box-shadow: 0px 0px 98px rgba(0, 0, 0, 0.05);
                border-radius: 12px;
            }
            
            .cardshop h3 {
                font-family: Montserrat;
                font-style: normal;
                font-weight: 600;
                font-size: 14px;
                line-height: 140%;
                letter-spacing: 0.75px;
                text-transform: uppercase;
                color: black;
            }
            
            .cardshop p {
                font-family: Montserrat;
                font-style: normal;
                font-weight: 500;
                font-size: 12px;
                line-height: 140%;
                letter-spacing: 0.4px;
                color: #000000;
                margin-top: 8px;
            }
            
            .cont-div {
                padding: 8px 12px;
            }
            
            .body3-rate {
                display: flex;
                align-items: center;
                justify-content: space-between;
                margin-top: 2px;
            }
            
            .rate-icon {
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: space-between;
            }
            
            .rate-ic {
                width: 12px;
                height: 12px;
                margin: 0px 3px;
                color: #FFC000;
            }
            
            .rate-ic:hover {
                color: #e2ad00;
            }
            
            .rate-icon p {
                font-family: Montserrat;
                font-style: normal;
                font-weight: 500;
                font-size: 14px;
                line-height: 140%;
                letter-spacing: 0.1px;
                margin-left: 6px;
                text-transform: uppercase;
            }
            
            .price {
                font-family: Montserrat;
                font-style: normal;
                font-weight: bold;
                font-size: 10px;
                line-height: 140%;
                letter-spacing: 1.5px;
                text-transform: uppercase;
            }
            
            .btn-dob {
                width: 100%;
                height: 36px;
                background-color: #FFC000;
                margin-top: 5px;
                border: none;
                border-radius: 6px;
                font-family: Montserrat;
                font-style: normal;
                font-weight: 600;
                font-size: 14px;
                line-height: 140%;
                letter-spacing: 0.75px;
                text-transform: uppercase;
            }
            
            .btn-dob:hover {
                background-color: rgb(190, 156, 2);
                transition: 0.2s;
            }
            /* <!-- footer navbar page */
            
            .bottom-page {
                width: 100%;
                height: 323px;
                background-color: #fff;
                margin-top: 80px;
                display: flex;
            }
            
            .bottom-modul {
                display: flex;
                justify-content: space-between;
                margin-top: 46px;
            }
            
            .btn-btm {
                font-family: Montserrat;
                font-style: normal;
                font-weight: 600;
                font-size: 14px;
                line-height: 140%;
                letter-spacing: 0.75px;
                text-transform: uppercase;
                color: #000000;
                border: none;
                background: none;
            }
            
            .btn-btm:hover {
                color: #857d7d;
            }
            
            .bottom1 p {
                font-family: Montserrat;
                font-style: normal;
                font-weight: normal;
                font-size: 14px;
                line-height: 160%;
                letter-spacing: 0.25px;
                color: #000000;
                margin-top: 16px;
            }
            
            .bottom1 img {
                margin-top: 20px;
            }
            /* ============ */
            
            .bottom2 button {
                font-family: Montserrat;
                font-style: normal;
                font-weight: 600;
                font-size: 14px;
                line-height: 140%;
                letter-spacing: 0.75px;
                text-transform: uppercase;
                color: #000000;
                border: none;
                background: none;
            }
            
            .bottom2 button:hover {
                color: #857d7d;
            }
            
            .btm2-p {
                font-family: Montserrat;
                font-style: normal;
                font-weight: normal;
                font-size: 14px;
                line-height: 160%;
                letter-spacing: 0.25px;
                color: #000000;
                margin-top: 16px;
            }
            
            .btm3-p {
                font-family: Montserrat;
                font-style: normal;
                font-weight: normal;
                font-size: 14px;
                line-height: 160%;
                letter-spacing: 0.25px;
                color: #000000;
                margin-top: 10px;
            }
            
            .bottom2 h3 {
                font-family: Montserrat;
                font-style: normal;
                font-weight: 600;
                font-size: 14px;
                line-height: 140%;
                letter-spacing: 0.75px;
                text-transform: uppercase;
                color: #000000;
                margin-top: 38px;
            }
            
            .bottom3 button {
                font-family: Montserrat;
                font-style: normal;
                font-weight: 600;
                font-size: 14px;
                line-height: 140%;
                letter-spacing: 0.75px;
                text-transform: uppercase;
                color: #000000;
                border: none;
                background: none;
            }
            
            .bottom3 button:hover {
                color: #747474;
            }
            
            .btm-ul {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                margin-top: 6px;
            }
            
            .btm-ul li {
                margin-top: 10px;
                list-style: none;
            }
            
            .btm-ul li a {
                text-decoration: none;
                font-family: Montserrat;
                font-style: normal;
                font-weight: normal;
                font-size: 14px;
                line-height: 160%;
                letter-spacing: 0.25px;
                color: #000000;
            }
            
            .bottom4 button {
                font-family: Montserrat;
                font-style: normal;
                font-weight: 600;
                font-size: 14px;
                line-height: 140%;
                letter-spacing: 0.75px;
                text-transform: uppercase;
                color: #000000;
                border: none;
                background: none;
            }
            
            .bottom4 button:hover {
                color: #575757;
            }